.baslikA {
    color: red;
    text-align: center;
}


.linkA {
    text-align: center;
}

a {
    margin-right: 15px;
}

.ul-property-AnaSayfa {
  list-style-position: inside
}

.linkU {
    text-align: center;
}
.ul-property-Products{
    list-style-position: inside
}
.baslikU{
    color: red;
    text-align: center;
}




