table, th, td, tr {
    border: 3px solid white;
    border-collapse: collapse;
  }
  
 img{
   height: 117px;
  
 }
 .td1{
    background-color: rgb(238,238,238);
    text-align:center;
 }

 .td2{
    width: 37%;
 }

 .td3-color{

    background-color: rgb(98,179,170);
 }

 table{
    width: 90%;
 }