.nav-right{
    margin-left: 1400px;
    margin-right: 0px;
    margin-top: 0;
    font-family: arial,sans-serif;
    font-size: 13px;
}
.nav-left{
    margin-left: 1292px;
    margin-right: 8px;
    margin-top: 0;
    font-family: arial,sans-serif;
    font-size: 13px;
}
.google-logo {
    margin-top: 10%;
    margin-bottom: 2%;
}
/* Search Bar */
input {
    width: 500px;
    height: 45px;
    border-radius: 30px;
    border-color: rgba(164, 159, 159, 0.333);
    padding-left: 27px;
    padding-right: 30px;
    background: url(https://icons.veryicon.com/png/o/miscellaneous/kbm-icon/icon_search-8.png) no-repeat scroll 7px 7px;
    background-size: 20px; 
}
.inputWrapper {
    margin-bottom: 2%;
}
/* footer */
.footer {
    margin-top: 15%;
    border-color: rgba(137, 135, 135, 0.395);
    background-color: rgba(190, 189, 189, 0.245);
    
}
#hakkinda, #reklam, #isletme {
    padding-right: 10px;
    
}
#box-1 {
    width: 400px;
    font-family: arial,sans-serif;
    font-size: 13px;
}

#box-3 {
    width: 400px;
    margin-left: 975px;
    font-family: arial,sans-serif;
    font-size: 13px;
}
button {
    border-color: rgba(219, 212, 212, 0.026);
    background-color: rgba(175, 171, 171, 0.07);
    border-radius: 5px;
    padding: 8px;
}
.icon {
    background: url(https://icons.veryicon.com/png/o/miscellaneous/kbm-icon/icon_search-8.png) no-repeat left;
    background-size: 20px;
}
.en-alt {
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 20px;
}